

{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<!-- Page Banner Start -->
<div class="page-banner section">
     <div class="container">
         <div class="page-banner-wrapper text-center">
             <h2 class="title">Reseted Successfully</h2>
             <ul class="breadcrumb justify-content-center">
                 <li class="breadcrumb"><a href="{% url 'home' %}">Home</a></li>/
                 <li class="breadcrumb active">Reset Password</li>
             </ul>
         </div>
     </div>
 </div>
 <!-- Page Banner End -->

 <!-- Login & Register Start -->
 <div class="section section-padding-02 mt-n1">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-lg-6">
                 <!-- Login & Register Start -->
                 <div class="login-register-wrapper">
                     <h4 class="title">Password Reset Successfully!</h4>
                     <p>Now you can login with your new credential</p>
                     <p>Remember Your Password? <a href="{% url 'account:login' %}">Login</a></p>
                 </div>
                 <!-- Login & Register End -->
             </div>
         </div>
     </div>
 </div>
 <!-- Login & Register End -->


{% endblock content %}






<!-- //////////// -->




