
{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<!-- Page Banner Start -->
<div class="page-banner section">
     <div class="container">
         <div class="page-banner-wrapper text-center">
             <h2 class="title">Reset Password</h2>
             <ul class="breadcrumb justify-content-center">
                 <li class="breadcrumb"><a href="{% url 'home' %}">Home</a></li>/
                 <li class="breadcrumb active">Reset Password</li>
             </ul>
         </div>
     </div>
 </div>
 <!-- Page Banner End -->

 <!-- Login & Register Start -->
 <div class="section section-padding-02 mt-n1">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-lg-6">
                 <!-- Login & Register Start -->
                 <div class="login-register-wrapper">
                     <h4 class="title">Enter Your Email</h4>
                     <p>We will send you a password reset link in your email</p>
                     <form method="POST" id="reset_password">
                         {% csrf_token %}
                         <div class="single-form">
                             {{ form.as_p }}
                             <small id="email_error" style="display: none;color: red;"></small>
                         </div>
                         <div class="single-form">
                             <button class="btn btn-primary btn-hover-dark rounded-pill" id="login_submit_button">Reset</button>
                         </div>
                     </form>
                     <p>Remember Your Password? <a href="{% url 'account:login' %}">Login</a></p>
                 </div>
                 <!-- Login & Register End -->
             </div>
         </div>
     </div>
 </div>
 <!-- Login & Register End -->


{% endblock content %}

{% block script %}
<script>
  console.log('well i ma in the rest test')
  // document.getElementById("id_email").className = "form-control";  
  document.getElementById("id_email").setAttribute("placeholder", "Enter Email"); 
  // document.getElementsByTagName('label')[0].innerHTML = ''
  document.getElementsByTagName('label')[0].remove();
</script>
{% endblock script %}

