{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}

{% block content %}
<!-- Page Banner Start -->
<div class="page-banner section">
     <div class="container">
         <div class="page-banner-wrapper text-center">
             <h2 class="title">Blog</h2>
             <ul class="breadcrumb justify-content-center">
                 <li class="breadcrumb"><a href="{% url 'home' %}">Home</a></li>/
                 <li class="breadcrumb active">Blog List</li>
             </ul>
         </div>
     </div>
 </div>
 <!-- Page Banner End -->

 <!-- Contact Start -->
 <div class="section section-padding-02 mt-n10">
     <div class="container">
         <h5>Coming Soon ...</h5>
     </div>
 </div>
 <!-- Contact End -->


{% endblock content %}

{% block script %}

{% endblock script %}