{% load static %}

<!-- Footer Start -->
<div class="section footer-section">

     <!-- Footer Widget Section Start -->
     <div class="footer-widget-section">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-md-5 order-md-1 order-lg-1">
                     <!-- Footer Widget Start -->
                     <div class="footer-widget">
                         <div class="widget-text">
                             <a href="{% url 'home' %}"><img src="{% static 'images/logo/my_logo.png' %}" alt=""></a>
                             <p>Shamla pleasure rationally encounter consequences that extremely painful desires to obtain pain of itself </p>
                         </div>
                         <div class="widget-social">
                             <h5 class="title">Social Link</h5>
                             <div class="social">
                                 <a href="#"><i class="fa fa-facebook-f"></i></a>
                                 <a href="#"><i class="fa fa-twitter"></i></a>
                                 <a href="#"><i class="fa fa-instagram"></i></a>
                                 <a href="#"><i class="fa fa-skype"></i></a>
                             </div>
                         </div>
                     </div>
                     <!-- Footer Widget End -->
                 </div>
                 <div class="col-lg-6 order-md-3 order-lg-2">
                     <div class="widget-link-wrapper">
                         <!-- Footer Widget Start -->
                         <div class="footer-widget">
                             <h4 class="footer-widget-title">Our Store</h4>
                             <div class="footer-widget-link">
                                 <ul>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> America </a></li>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> Europe </a></li>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> Asia </a></li>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> Australia </a></li>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> Africa </a></li>
                                 </ul>
                             </div>
                         </div>
                         <!-- Footer Widget End -->
                         <!-- Footer Widget Start -->
                         <div class="footer-widget">
                             <h4 class="footer-widget-title">Useful Links</h4>
                             <div class="footer-widget-link  d-flex justify-content-sm-between">
                                 <ul>
                                     <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i> About us </a></li>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Conditions </a></li>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Payment </a></li>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Return Policy </a></li>
                                     <li><a href="{% url 'account:profile' %}"><i class="fa fa-angle-double-right"></i> My Account </a></li>
                                 </ul>
                                 <ul>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Promotions </a></li>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Shipping </a></li>
                                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Support </a></li>
                                     <li><a href="{% url 'contact' %}"><i class="fa fa-angle-double-right"></i> Contact us </a></li>
                                 </ul>
                             </div>
                         </div>
                         <!-- Footer Widget End -->
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-7 order-md-2 order-lg-3">
                     <!-- Footer Widget Start -->
                     <div class="footer-widget widget-info">
                         <h4 class="footer-widget-title">Contact info</h4>
                         <div class="widget-info-wrapper">
                             <h5 class="title">Head Office</h5>
                             <div class="single-info">
                                 <p>125 Silk Tower, Center Point Nort City, New Yourk</p>
                             </div>
                             <div class="single-info">
                                 <p>Phone no. <a href="tel:+12345698744">+12345 698 744</a></p>
                                 <p>Mobile. <a href="tel:+98745852741">+98745 852 741</a></p>
                             </div>
                             <div class="single-info">
                                 <p><a href="mailto:info@example.com">info@example.com</a></p>
                             </div>
                         </div>
                     </div>
                     <!-- Footer Widget End -->
                 </div>
             </div>
         </div>
     </div>
     <!-- Footer Widget Section End -->

     <!-- Footer Copyright Start -->
     <div class="footer-copyright">
         <div class="container">
             <div class="copyright-payment">
                 <div class="copyright-text">
                     <p>Copyright 2020 &copy; <a href="">Shamla</a> . All Rights Reserved</p>
                 </div>
                 <div class="payment-method">
                     <img src="{% static 'images/payment.png' %}" alt="Payment">
                 </div>
             </div>
         </div>
     </div>
     <!-- Footer Copyright End -->

     <div class="footer-shape">
         <img src="{% static 'images/footer-shape.png' %}" alt="">
     </div>

 </div>
 <!-- Footer End -->

 <!-- Back to Top Start -->
 <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
 <!-- Back to Top End -->