{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Shipment Method{% endblock title %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <div class="container-fluid">
         <div class="row mb-2">
           <div class="col-sm-6">
             <h1>Shipment Methods</h1>
           </div>
           <div class="col-sm-6">
             <ol class="breadcrumb float-sm-right">
               <a href="{% url 'order:admin_shipment_create' %}" class="btn btn-block btn-outline-primary"><i class="fas fa-plus"></i> Add Shipment Method</a>
             </ol>
           </div>
         </div>
       </div><!-- /.container-fluid -->
     </section>
 
     <!-- Main content -->
     <section class="content">
       <div class="container-fluid">
         <div class="row">
           <div class="col-12">
 
             <div class="card">
               <!-- /.card-header -->
               <div class="card-body">
                 <table id="shipment_table1" class="table table-bordered table-striped">
                   <thead>
                   <tr>
                     <th>#</th>
                     <th>Region</th>
                     <th>Shipment Comment</th>
                     <th>Shipment Fee</th>
                     <th>Free Shipment Limit</th>
                     <th>Is Active</th>
                     <th>Actions</th>
                   </tr>
                   </thead>
                   <tbody>
                        {% for object in object_list %}
                     <tr id="shipment_{{ object.id }}">
                     <td>{{ forloop.counter }}</td>
                     <td> <a href="{% url 'order:admin_shipment_update' pk=object.id %}">{{ object.region }}</a></td>
                     <td>
                       {% if object.shipment_comment %}
                       {{ object.shipment_comment|truncatechars:35 }}
                       {% else %}
                       No Shipment Comment
                       {% endif %}
                      </td>
                     <td>{{ object.shipment_fee }}</td>
                     <td>{{ object.free_shipment_limit }}</td>
                     <td>{{ object.active|yesno:"Yes,No,Maybe" }}</td>
                     <td class="text-center">
                       <a href="{% url 'order:admin_shipment_update' pk=object.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i> Edit</a> 
                     <a href="javascript:void(0)" onclick="showDeleteModal('{{ object.id }}', 'shipment')" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Delete</a> 
                    </td>
                   </tr>
                   {% endfor %}
                   </tbody>
                   <tfoot>
                   <tr>
                    <th>#</th>
                    <th>Region</th>
                    <th>Shipment Comment</th>
                    <th>Shipment Fee</th>
                    <th>Shipment Shipment Limit</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                   </tr>
                   </tfoot>
                 </table>
               </div>
               <!-- /.card-body -->
             </div>
             <!-- /.card -->
           </div>
           <!-- /.col -->
         </div>
         <!-- /.row -->
       </div>
       <!-- /.container-fluid -->
     </section>
     <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->

{% endblock content %}
{% block script %}



<script>

// ================== datatable
  $(function () {
    $("#shipment_table1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#shipment_table2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock script %}