{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Completed Order{% endblock title %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <div class="container-fluid">
         <div class="row mb-2">
           <div class="col-sm-6">
             <h1>Paid Orders</h1>
           </div>
         </div>
       </div><!-- /.container-fluid -->
     </section>
 
     <!-- Main content -->
     <section class="content">
       <div class="container-fluid">
         <div class="row">
           <div class="col-12">
 
             <div class="card">
               <!-- /.card-header -->
               <div class="card-body">
                 <table id="shipment_table1" class="table table-bordered table-striped">
                   <thead>
                   <tr>
                     <th>#</th>
                     <th>Order</th>
                     <th>Customer</th>
                     <th>Customer Type</th>
                     <th>Country</th>
                     <th>Subtotal</th>
                     <th>Shipment</th>
                     <th>Discount</th>
                     <th>Total</th>
                     <th>Placed Date</th>
                   </tr>
                   </thead>
                   <tbody>
                        {% for object in object_list %}
                     <tr id="category_{{ object.id }}">
                     <td>{{ forloop.counter }}</td>
                     <td> <a href="{% url 'order:admin_order_detail' pk=object.id %}">{{ object.order_id }}</a></td>
                     <td><a href="{{ object.billing_profile.user.get_absolute_url }}">{{ object.billing_profile.user }}</a></td>
                     <td>{{ object.billing_profile.user.user_type }}</td>
                     <td>{{ object.billing_profile.address_set.first.country }}</td>
                     <td>{{ object.cart.subtotal }}</td>
                     <td>{{ object.cart.shipment_fee }}</td>
                     <td>{{ object.cart.discount_total }}</td>
                     <td>{{ object.cart.total }}</td>
                     <td>{{ object.updated|date:"M, d, Y" }}</td>
                   </tr>
                   {% endfor %}
                   </tbody>
                   <tfoot>
                   <tr>
                    <th>#</th>
                    <th>Order</th>
                    <th>Customer</th>
                    <th>Customer Type</th>
                    <th>Country</th>
                    <th>Subtotal</th>
                    <th>Shipment</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Placed Date</th>
                   </tr>
                   </tfoot>
                 </table>
               </div>
               <!-- /.card-body -->
             </div>
             <!-- /.card -->
           </div>
           <!-- /.col -->
         </div>
         <!-- /.row -->
       </div>
       <!-- /.container-fluid -->
     </section>
     <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->

{% endblock content %}
{% block script %}



<script>

// ================== datatable
  $(function () {
    $("#shipment_table1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#shipment_table2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock script %}